@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
	--main-bg-color: darkblue;
}

body {
	text-align: center;
	background-color: var(--main-bg-color);
	color: white;
	font-family: 'Lato', sans-serif;
}
